packages/vehicle-lifecycle/installers/hlfv1/flows.json
[
    {
        "id": "de4c8b35.2e0bc8",
        "type": "tab",
        "label": "Main Flow"
    },
    {
        "id": "a278ba51.c26b6",
        "type": "tab",
        "label": "Query Flow"
    },
    {
        "id": "9f458c88.819d98",
        "type": "websocket-listener",
        "z": "",
        "path": "/ws/placeorder",
        "wholemsg": "false"
    },
    {
        "id": "8e7a1042.16aaa",
        "type": "websocket-listener",
        "z": "",
        "path": "/ws/updateorderstatus",
        "wholemsg": "false"
    },
    {
        "id": "2af6bd06.053f0a",
        "type": "websocket-listener",
        "z": "",
        "path": "/ws/placeorder",
        "wholemsg": "false"
    },
    {
        "id": "7c62eeaa.a5eec8",
        "type": "websocket-listener",
        "z": "",
        "path": "/ws/updateorderstatus",
        "wholemsg": "false"
    },
    {
        "id": "668e4aef.e432a4",
        "type": "hyperledger-composer-config",
        "z": "",
        "connectionProfile": "hlfv1",
        "businessNetworkIdentifier": "vehicle-lifecycle-network",
        "userID": "admin",
        "userSecret": "randomString"
    },
    {
        "id": "22d020e3.5e7388",
        "type": "websocket in",
        "z": "de4c8b35.2e0bc8",
        "name": "",
        "server": "9f458c88.819d98",
        "client": "",
        "x": 146,
        "y": 69,
        "wires": [
            [
                "2b9bb5c7.844952",
                "1f1209c0.b6ee9e"
            ]
        ]
    },
    {
        "id": "69ec9dd5.8b8ebc",
        "type": "websocket out",
        "z": "de4c8b35.2e0bc8",
        "name": "",
        "server": "9f458c88.819d98",
        "client": "",
        "x": 894,
        "y": 322,
        "wires": []
    },
    {
        "id": "cd8a2154.c8a05",
        "type": "websocket in",
        "z": "de4c8b35.2e0bc8",
        "name": "",
        "server": "8e7a1042.16aaa",
        "client": "",
        "x": 230.5,
        "y": 527,
        "wires": [
            [
                "88c67f3f.4755a",
                "1eba254f.e93e83"
            ]
        ]
    },
    {
        "id": "fd4b4901.7e9ea8",
        "type": "websocket out",
        "z": "de4c8b35.2e0bc8",
        "name": "",
        "server": "8e7a1042.16aaa",
        "client": "",
        "x": 926.5,
        "y": 366,
        "wires": []
    },
    {
        "id": "88c67f3f.4755a",
        "type": "debug",
        "z": "de4c8b35.2e0bc8",
        "name": "received UpdateOrderStatus socket msg",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 555,
        "y": 583,
        "wires": []
    },
    {
        "id": "809f4ec2.eff82",
        "type": "function",
        "z": "de4c8b35.2e0bc8",
        "name": "parse",
        "func": "msg.payload = JSON.parse(msg.payload);\nmsg.url = context.global.endpoint + '/PlaceOrder'\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 689,
        "y": 99,
        "wires": [
            [
                "82cbb89f.201d98",
                "222891b1.50fd2e"
            ]
        ]
    },
    {
        "id": "978ff002.6ad1a8",
        "type": "inject",
        "z": "de4c8b35.2e0bc8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 210,
        "y": 648,
        "wires": [
            [
                "1fa5b07e.9546f8"
            ]
        ]
    },
    {
        "id": "428d4c0d.62fd44",
        "type": "function",
        "z": "de4c8b35.2e0bc8",
        "name": "parse",
        "func": "msg.payload = JSON.parse(msg.payload);\nmsg.payload.$class = 'org.acme.vehicle.lifecycle.manufacturer.UpdateOrderStatus';\nmsg.url = context.global.endpoint + '/UpdateOrderStatus'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 606.5,
        "y": 534,
        "wires": [
            [
                "80019597.112438",
                "e48f2083.560d7"
            ]
        ]
    },
    {
        "id": "1f1209c0.b6ee9e",
        "type": "change",
        "z": "de4c8b35.2e0bc8",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "_session",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 372,
        "y": 69,
        "wires": [
            [
                "beb45d8a.4af4c8"
            ]
        ]
    },
    {
        "id": "e54d7d8c.d2f938",
        "type": "inject",
        "z": "de4c8b35.2e0bc8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 220,
        "y": 690,
        "wires": [
            [
                "77c85e03.2890f"
            ]
        ]
    },
    {
        "id": "711ab162.99e758",
        "type": "http request",
        "z": "de4c8b35.2e0bc8",
        "name": "setup demo",
        "method": "POST",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 528,
        "y": 690,
        "wires": [
            [
                "c3c99f46.c2ef58"
            ]
        ]
    },
    {
        "id": "c3c99f46.c2ef58",
        "type": "debug",
        "z": "de4c8b35.2e0bc8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 712,
        "y": 690,
        "wires": []
    },
    {
        "id": "77c85e03.2890f",
        "type": "function",
        "z": "de4c8b35.2e0bc8",
        "name": "set msg.url",
        "func": "msg.url = context.global.endpoint + '/SetupDemo';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 367,
        "y": 690,
        "wires": [
            [
                "711ab162.99e758"
            ]
        ]
    },
    {
        "id": "91986491.ccfc08",
        "type": "inject",
        "z": "de4c8b35.2e0bc8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 219.5,
        "y": 729,
        "wires": [
            [
                "ffbd2882.893d88"
            ]
        ]
    },
    {
        "id": "57754fce.9f8198",
        "type": "http request",
        "z": "de4c8b35.2e0bc8",
        "name": "get orders",
        "method": "GET",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 527.5,
        "y": 729,
        "wires": [
            [
                "b00f2231.f7d318"
            ]
        ]
    },
    {
        "id": "b00f2231.f7d318",
        "type": "debug",
        "z": "de4c8b35.2e0bc8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 711.5,
        "y": 729,
        "wires": []
    },
    {
        "id": "ffbd2882.893d88",
        "type": "function",
        "z": "de4c8b35.2e0bc8",
        "name": "set msg.url",
        "func": "msg.url = context.global.endpoint + '/Order';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 366.5,
        "y": 729,
        "wires": [
            [
                "57754fce.9f8198"
            ]
        ]
    },
    {
        "id": "b4d9258d.a27ff",
        "type": "inject",
        "z": "de4c8b35.2e0bc8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 219.5,
        "y": 769,
        "wires": [
            [
                "dda9240a.41ccb"
            ]
        ]
    },
    {
        "id": "58650e07.7540f8",
        "type": "http request",
        "z": "de4c8b35.2e0bc8",
        "name": "get vehicles",
        "method": "GET",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 527.5,
        "y": 769,
        "wires": [
            [
                "e8add0fc.ce6018"
            ]
        ]
    },
    {
        "id": "e8add0fc.ce6018",
        "type": "debug",
        "z": "de4c8b35.2e0bc8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 711.5,
        "y": 769,
        "wires": []
    },
    {
        "id": "dda9240a.41ccb",
        "type": "function",
        "z": "de4c8b35.2e0bc8",
        "name": "set msg.url",
        "func": "msg.url = context.global.endpoint + '/Vehicle';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 366.5,
        "y": 769,
        "wires": [
            [
                "58650e07.7540f8"
            ]
        ]
    },
    {
        "id": "71aa5080.9875c",
        "type": "inject",
        "z": "de4c8b35.2e0bc8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 218.5,
        "y": 810,
        "wires": [
            [
                "fd1fc9d8.391668"
            ]
        ]
    },
    {
        "id": "91768ec2.7681c8",
        "type": "http request",
        "z": "de4c8b35.2e0bc8",
        "name": "get transactions",
        "method": "GET",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 536.5,
        "y": 810,
        "wires": [
            [
                "2ee4354e.ddcc62"
            ]
        ]
    },
    {
        "id": "2ee4354e.ddcc62",
        "type": "debug",
        "z": "de4c8b35.2e0bc8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 710.5,
        "y": 810,
        "wires": []
    },
    {
        "id": "fd1fc9d8.391668",
        "type": "function",
        "z": "de4c8b35.2e0bc8",
        "name": "set msg.url",
        "func": "msg.url = context.global.endpoint + '/UpdateOrderStatus';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 365.5,
        "y": 810,
        "wires": [
            [
                "91768ec2.7681c8"
            ]
        ]
    },
    {
        "id": "beb45d8a.4af4c8",
        "type": "switch",
        "z": "de4c8b35.2e0bc8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "__ping__",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 557,
        "y": 69,
        "wires": [
            [
                "83e54697.f035a"
            ],
            [
                "809f4ec2.eff82"
            ]
        ]
    },
    {
        "id": "7b56aa4c.f60494",
        "type": "websocket out",
        "z": "de4c8b35.2e0bc8",
        "name": "",
        "server": "9f458c88.819d98",
        "client": "",
        "x": 862.5,
        "y": 51,
        "wires": []
    },
    {
        "id": "83e54697.f035a",
        "type": "function",
        "z": "de4c8b35.2e0bc8",
        "name": "pong",
        "func": "msg.payload = '__pong__';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 689,
        "y": 51,
        "wires": [
            [
                "7b56aa4c.f60494"
            ]
        ]
    },
    {
        "id": "1eba254f.e93e83",
        "type": "switch",
        "z": "de4c8b35.2e0bc8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "__ping__",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 449.5,
        "y": 527,
        "wires": [
            [
                "cef151bf.bd8148"
            ],
            [
                "428d4c0d.62fd44"
            ]
        ]
    },
    {
        "id": "e8aa65f4.5ccb",
        "type": "change",
        "z": "de4c8b35.2e0bc8",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "_session",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 839.5,
        "y": 487,
        "wires": [
            [
                "d6e1c81c.98df4"
            ]
        ]
    },
    {
        "id": "d6e1c81c.98df4",
        "type": "websocket out",
        "z": "de4c8b35.2e0bc8",
        "name": "",
        "server": "8e7a1042.16aaa",
        "client": "",
        "x": 1105.5,
        "y": 487,
        "wires": []
    },
    {
        "id": "cef151bf.bd8148",
        "type": "function",
        "z": "de4c8b35.2e0bc8",
        "name": "pong",
        "func": "msg.payload = '__pong__';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 606.5,
        "y": 486,
        "wires": [
            [
                "e8aa65f4.5ccb"
            ]
        ]
    },
    {
        "id": "bd4493c6.e777a8",
        "type": "hyperledger-composer-in",
        "z": "de4c8b35.2e0bc8",
        "name": "receive event",
        "composerProfile": "668e4aef.e432a4",
        "actionType": "create",
        "x": 127,
        "y": 322,
        "wires": [
            [
                "5042ea7.8461a94",
                "240383b2.870d9c"
            ]
        ]
    },
    {
        "id": "5042ea7.8461a94",
        "type": "debug",
        "z": "de4c8b35.2e0bc8",
        "name": "event received",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 356,
        "y": 277,
        "wires": []
    },
    {
        "id": "240383b2.870d9c",
        "type": "switch",
        "z": "de4c8b35.2e0bc8",
        "name": "",
        "property": "$class",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "org.acme.vehicle.lifecycle.manufacturer.PlaceOrderEvent",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "org.acme.vehicle.lifecycle.manufacturer.UpdateOrderStatusEvent",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 328,
        "y": 323.75,
        "wires": [
            [
                "17d8090d.f6c577",
                "39ad1c91.200084"
            ],
            [
                "c1749165.bd054"
            ]
        ]
    },
    {
        "id": "2b9bb5c7.844952",
        "type": "debug",
        "z": "de4c8b35.2e0bc8",
        "name": "received PlaceOrder socket msg",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 411,
        "y": 130,
        "wires": []
    },
    {
        "id": "82cbb89f.201d98",
        "type": "hyperledger-composer-out",
        "z": "de4c8b35.2e0bc8",
        "name": "submit placeorder tx",
        "composerProfile": "668e4aef.e432a4",
        "actionType": "create",
        "x": 874,
        "y": 102,
        "wires": []
    },
    {
        "id": "44cb331f.2672a4",
        "type": "hyperledger-composer-out",
        "z": "de4c8b35.2e0bc8",
        "name": "submit update status tx",
        "composerProfile": "668e4aef.e432a4",
        "actionType": "create",
        "x": 910,
        "y": 280,
        "wires": []
    },
    {
        "id": "17d8090d.f6c577",
        "type": "function",
        "z": "de4c8b35.2e0bc8",
        "name": "parse",
        "func": "eventMsg = {};\neventMsg.payload = {};\neventMsg.payload.orderId = msg.orderId;\neventMsg.payload.vehicleDetails = msg.vehicleDetails;\neventMsg.payload.timestamp = msg.timestamp;\neventMsg.payload.transactionId = msg.eventId.substr(0, msg.eventId.indexOf('#'));\nreturn eventMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 566,
        "y": 322,
        "wires": [
            [
                "69ec9dd5.8b8ebc"
            ]
        ]
    },
    {
        "id": "c1749165.bd054",
        "type": "function",
        "z": "de4c8b35.2e0bc8",
        "name": "parse",
        "func": "eventMsg = {};\neventMsg.payload = {};\neventMsg.payload.order = msg.order;\neventMsg.payload.orderStatus = msg.orderStatus;\neventMsg.payload.timestamp = msg.timestamp;\neventMsg.payload.transactionId = msg.eventId.substr(0, msg.eventId.indexOf('#'));\n\nreturn eventMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 569,
        "y": 365,
        "wires": [
            [
                "fd4b4901.7e9ea8"
            ]
        ]
    },
    {
        "id": "222891b1.50fd2e",
        "type": "debug",
        "z": "de4c8b35.2e0bc8",
        "name": "transaction payload",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 864.5,
        "y": 147,
        "wires": []
    },
    {
        "id": "39ad1c91.200084",
        "type": "function",
        "z": "de4c8b35.2e0bc8",
        "name": "create new payload",
        "func": "var order = msg;\nconsole.log('What is the event payload?',order)\ndelete msg._session;\ndelete msg.headers;\ndelete msg.responseUrl;\ndelete msg.statusCode;\n\nmsg.payload = {\n    \"$class\":'org.acme.vehicle.lifecycle.manufacturer.UpdateOrderStatus',\n    \"vin\": \"\",\n    \"v5c\": \"\",\n    \"numberPlate\": \"\",\n    \"order\": order.orderId,\n    \"orderStatus\": \"PLACED\"\n};\n\nmsg.url = context.global.endpoint + '/UpdateOrderStatus'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 606.5,
        "y": 280,
        "wires": [
            [
                "44cb331f.2672a4"
            ]
        ]
    },
    {
        "id": "80019597.112438",
        "type": "debug",
        "z": "de4c8b35.2e0bc8",
        "name": "transaction payload",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 838.5,
        "y": 580,
        "wires": []
    },
    {
        "id": "e48f2083.560d7",
        "type": "hyperledger-composer-out",
        "z": "de4c8b35.2e0bc8",
        "name": "submit update status tx",
        "composerProfile": "668e4aef.e432a4",
        "actionType": "create",
        "x": 854.5,
        "y": 534,
        "wires": []
    },
    {
        "id": "45f5acb7.26071c",
        "type": "function",
        "z": "de4c8b35.2e0bc8",
        "name": "REST API URL Configuration",
        "func": "let something;\nif(msg.payload.trim()){\n    context.global.endpoint = msg.payload.trim();\n}\nelse{\n    context.global.endpoint = \"http://localhost:4000/api\";\n}\nconsole.log('What is context.global.endpoint?',context.global.endpoint);",
        "outputs": 1,
        "noerr": 0,
        "x": 776.5,
        "y": 644,
        "wires": [
            []
        ]
    },
    {
        "id": "1fa5b07e.9546f8",
        "type": "exec",
        "z": "de4c8b35.2e0bc8",
        "command": "echo $COMPOSER_BASE_URL",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "Get REST API Environment Variable",
        "x": 443.5,
        "y": 646.5,
        "wires": [
            [
                "45f5acb7.26071c"
            ],
            [],
            []
        ]
    },
    {
        "id": "938db1d7.b66178",
        "type": "inject",
        "z": "a278ba51.c26b6",
        "name": "",
        "topic": "",
        "payload": "{\"$class\": \"org.vda.ScrapAllVehiclesByColour\", \"colour\":\"grey\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 183,
        "y": 71,
        "wires": [
            [
                "7343abda.dffc5c"
            ]
        ]
    },
    {
        "id": "6aa3d8db.6933c",
        "type": "debug",
        "z": "a278ba51.c26b6",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 380,
        "y": 150.25,
        "wires": []
    },
    {
        "id": "7343abda.dffc5c",
        "type": "hyperledger-composer-out",
        "z": "a278ba51.c26b6",
        "name": "ScrapAllVehiclesByColour",
        "composerProfile": "668e4aef.e432a4",
        "actionType": "create",
        "x": 479,
        "y": 70.75,
        "wires": []
    },
    {
        "id": "15c4b0da.c0afdf",
        "type": "hyperledger-composer-in",
        "z": "a278ba51.c26b6",
        "name": "EventReceived",
        "composerProfile": "668e4aef.e432a4",
        "actionType": "create",
        "x": 190,
        "y": 149.75,
        "wires": [
            [
                "6aa3d8db.6933c"
            ]
        ]
    }
]
