packages/vehicle-manufacture/installers/hlfv1/flows.json
[{"id":"207f19a7.25e976","type":"tab","label":"Flow 1"},{"id":"8eec06d6.145e88","type":"hyperledger-composer-config","z":"","cardName":"admin@vehicle-manufacture-network"},{"id":"fd0d2182.347fb8","type":"hyperledger-composer-in","z":"207f19a7.25e976","name":"EventListener","composerCard":"8eec06d6.145e88","actionType":"create","x":110,"y":80,"wires":[["dea2478.1ab11b8"]]},{"id":"bde3bb85.dd849","type":"hyperledger-composer-mid","z":"207f19a7.25e976","name":"GET ORDERER'S DETAILS","composerCard":"8eec06d6.145e88","actionType":"retrieve","resolve":false,"x":560,"y":220,"wires":[["7d468e26.cb6c9"]]},{"id":"dea2478.1ab11b8","type":"switch","z":"207f19a7.25e976","name":"UPDATE ORDER?","property":"$class","propertyType":"msg","rules":[{"t":"eq","v":"org.acme.vehicle_network.UpdateOrderStatusEvent","vt":"str"}],"checkall":"true","outputs":1,"x":330,"y":80,"wires":[["5544a5bb.f0784c"]]},{"id":"ccaa3b92.4da39","type":"function","z":"207f19a7.25e976","name":"GET ORDERER'S ID FROM EVENT","func":"let id = msg.order.orderer.replace('resource:org.acme.vehicle_network.Person#', '');\n\nvar msg = {}\nmsg.payload = {\"$class\" : \"org.acme.vehicle_network.Person\", \"id\" : id};\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":220,"wires":[["bde3bb85.dd849"]]},{"id":"7d468e26.cb6c9","type":"switch","z":"207f19a7.25e976","name":"HAVE EMAIL?","property":"payload.email","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","outputs":1,"x":820,"y":220,"wires":[["d9e808ce.90a2e"]]},{"id":"d9e808ce.90a2e","type":"function","z":"207f19a7.25e976","name":"WRITE EMAIL","func":"var order = flow.get('order');\nvar orderId = order.orderId;\nvar manufacturer = order.vehicleDetails.make.replace('resource:org.acme.vehicle_network.Manufacturer#', '');\nvar model = order.vehicleDetails.modelType;\nvar colour = order.vehicleDetails.colour;\nvar trim = order.options.trim;\nvar interior = order.options.interior;\nvar extras = order.options.extras.length === 0 ? 'none' : '';\n\nfor(var i = 0; i < order.options.extras.length; i++) {\n    extras += order.options.extras[i]+', '\n}\nextras = extras.replace(/,\\s([^,\\s]*)$/,'$1');\n\nvar email = {}\nemail.topic = 'Your '+manufacturer+' order #'+order.orderId;\nemail.payload = `Dear ${msg.payload.username}\n\nYour order of an ${manufacturer} ${model} has been completed and is ready for collection from your local showroom.\n\nVehicle details:\n  - Trim: ${trim}\n  - Colour: ${colour}\n  - Interior: ${interior}\n  - Extras: ${extras}\n\nKind regards\n${manufacturer} Customer Service Team`;\nemail.to = msg.payload.email;\nreturn email;","outputs":1,"noerr":0,"x":160,"y":360,"wires":[["8af0851b.af0e68","9965adcd.5c12b"]]},{"id":"8af0851b.af0e68","type":"e-mail","z":"207f19a7.25e976","server":"smtp.gmail.com","port":"465","secure":true,"name":"","dname":"SEND EMAIL","x":370,"y":360,"wires":[]},{"id":"5544a5bb.f0784c","type":"switch","z":"207f19a7.25e976","name":"DELIVERY NOTICE?","property":"orderStatus","propertyType":"msg","rules":[{"t":"eq","v":"DELIVERED","vt":"str"}],"checkall":"true","outputs":1,"x":580,"y":80,"wires":[["ccaa3b92.4da39","a597c4e3.899a4"]]},{"id":"9965adcd.5c12b","type":"debug","z":"207f19a7.25e976","name":"","active":true,"console":"false","complete":"true","x":350,"y":420,"wires":[]},{"id":"a597c4e3.899a4","type":"function","z":"207f19a7.25e976","name":"SAVE ORDER DETAILS FROM EVENT","func":"flow.set('order', msg.order)\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":260,"wires":[[]]}]