packages/vehicle-lifecycle/flows.json
[
    {
        "id": "2a6c9e97.ed1452",
        "type": "websocket in",
        "z": "2eb37991.cd6d36",
        "name": "",
        "server": "2fc29e6d.ebbea2",
        "client": "",
        "x": 146,
        "y": 69,
        "wires": [
            [
                "7b3fc12e.8a17e",
                "28142f97.a8576"
            ]
        ]
    },
    {
        "id": "ac4d8fcd.9a156",
        "type": "websocket out",
        "z": "2eb37991.cd6d36",
        "name": "",
        "server": "2fc29e6d.ebbea2",
        "client": "",
        "x": 894,
        "y": 322,
        "wires": []
    },
    {
        "id": "f4fa8de6.9fcef",
        "type": "websocket in",
        "z": "2eb37991.cd6d36",
        "name": "",
        "server": "9694475c.ed1588",
        "client": "",
        "x": 230.5,
        "y": 527,
        "wires": [
            [
                "aa933049.223d3",
                "294cd88b.68d818"
            ]
        ]
    },
    {
        "id": "ff5f5b2.46ce1a8",
        "type": "websocket out",
        "z": "2eb37991.cd6d36",
        "name": "",
        "server": "9694475c.ed1588",
        "client": "",
        "x": 926.5,
        "y": 366,
        "wires": []
    },
    {
        "id": "aa933049.223d3",
        "type": "debug",
        "z": "2eb37991.cd6d36",
        "name": "received UpdateOrderStatus socket msg",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 555,
        "y": 583,
        "wires": []
    },
    {
        "id": "5275527f.00658c",
        "type": "function",
        "z": "2eb37991.cd6d36",
        "name": "parse",
        "func": "msg.payload = JSON.parse(msg.payload);\nmsg.url = context.global.endpoint + '/PlaceOrder'\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 689,
        "y": 99,
        "wires": [
            [
                "b8542de5.fb094",
                "583e09ae.fba668"
            ]
        ]
    },
    {
        "id": "807e6eab.07092",
        "type": "inject",
        "z": "2eb37991.cd6d36",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 210,
        "y": 648,
        "wires": [
            [
                "8131e868.6e18d8"
            ]
        ]
    },
    {
        "id": "7dbb0bba.151b84",
        "type": "function",
        "z": "2eb37991.cd6d36",
        "name": "parse",
        "func": "msg.payload = JSON.parse(msg.payload);\nmsg.payload.$class = 'org.acme.vehicle.lifecycle.manufacturer.UpdateOrderStatus';\nmsg.url = context.global.endpoint + '/UpdateOrderStatus'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 606.5,
        "y": 534,
        "wires": [
            [
                "dfa0192e.6b5258",
                "3d397781.6f3ee8"
            ]
        ]
    },
    {
        "id": "28142f97.a8576",
        "type": "change",
        "z": "2eb37991.cd6d36",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "_session",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 372,
        "y": 69,
        "wires": [
            [
                "d547d561.e61a08"
            ]
        ]
    },
    {
        "id": "93eaa3d3.d0d73",
        "type": "inject",
        "z": "2eb37991.cd6d36",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 220,
        "y": 690,
        "wires": [
            [
                "94d31bc4.1aa258"
            ]
        ]
    },
    {
        "id": "a0cac78e.b6ad28",
        "type": "http request",
        "z": "2eb37991.cd6d36",
        "name": "setup demo",
        "method": "POST",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 528,
        "y": 690,
        "wires": [
            [
                "56045274.27d1bc"
            ]
        ]
    },
    {
        "id": "56045274.27d1bc",
        "type": "debug",
        "z": "2eb37991.cd6d36",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 712,
        "y": 690,
        "wires": []
    },
    {
        "id": "94d31bc4.1aa258",
        "type": "function",
        "z": "2eb37991.cd6d36",
        "name": "set msg.url",
        "func": "msg.url = context.global.endpoint + '/SetupDemo';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 367,
        "y": 690,
        "wires": [
            [
                "a0cac78e.b6ad28"
            ]
        ]
    },
    {
        "id": "889546cf.15b658",
        "type": "inject",
        "z": "2eb37991.cd6d36",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 219.5,
        "y": 729,
        "wires": [
            [
                "94db54d0.bbd8b8"
            ]
        ]
    },
    {
        "id": "e55bf990.42e8d8",
        "type": "http request",
        "z": "2eb37991.cd6d36",
        "name": "get orders",
        "method": "GET",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 527.5,
        "y": 729,
        "wires": [
            [
                "f500bdd7.1b0b2"
            ]
        ]
    },
    {
        "id": "f500bdd7.1b0b2",
        "type": "debug",
        "z": "2eb37991.cd6d36",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 711.5,
        "y": 729,
        "wires": []
    },
    {
        "id": "94db54d0.bbd8b8",
        "type": "function",
        "z": "2eb37991.cd6d36",
        "name": "set msg.url",
        "func": "msg.url = context.global.endpoint + '/Order';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 366.5,
        "y": 729,
        "wires": [
            [
                "e55bf990.42e8d8"
            ]
        ]
    },
    {
        "id": "1fb9ff07.a2f091",
        "type": "inject",
        "z": "2eb37991.cd6d36",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 219.5,
        "y": 769,
        "wires": [
            [
                "60301aa6.7d7244"
            ]
        ]
    },
    {
        "id": "8f5a0602.d2ea28",
        "type": "http request",
        "z": "2eb37991.cd6d36",
        "name": "get vehicles",
        "method": "GET",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 527.5,
        "y": 769,
        "wires": [
            [
                "57dd881a.8c82c8"
            ]
        ]
    },
    {
        "id": "57dd881a.8c82c8",
        "type": "debug",
        "z": "2eb37991.cd6d36",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 711.5,
        "y": 769,
        "wires": []
    },
    {
        "id": "60301aa6.7d7244",
        "type": "function",
        "z": "2eb37991.cd6d36",
        "name": "set msg.url",
        "func": "msg.url = context.global.endpoint + '/Vehicle';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 366.5,
        "y": 769,
        "wires": [
            [
                "8f5a0602.d2ea28"
            ]
        ]
    },
    {
        "id": "f50c7191.47685",
        "type": "inject",
        "z": "2eb37991.cd6d36",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 218.5,
        "y": 810,
        "wires": [
            [
                "800aaa52.75cbe8"
            ]
        ]
    },
    {
        "id": "60572739.2a1ed8",
        "type": "http request",
        "z": "2eb37991.cd6d36",
        "name": "get transactions",
        "method": "GET",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 536.5,
        "y": 810,
        "wires": [
            [
                "f6b57772.5ee318"
            ]
        ]
    },
    {
        "id": "f6b57772.5ee318",
        "type": "debug",
        "z": "2eb37991.cd6d36",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 710.5,
        "y": 810,
        "wires": []
    },
    {
        "id": "800aaa52.75cbe8",
        "type": "function",
        "z": "2eb37991.cd6d36",
        "name": "set msg.url",
        "func": "msg.url = context.global.endpoint + '/UpdateOrderStatus';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 365.5,
        "y": 810,
        "wires": [
            [
                "60572739.2a1ed8"
            ]
        ]
    },
    {
        "id": "d547d561.e61a08",
        "type": "switch",
        "z": "2eb37991.cd6d36",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "__ping__",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 557,
        "y": 69,
        "wires": [
            [
                "5c92de24.5998f"
            ],
            [
                "5275527f.00658c"
            ]
        ]
    },
    {
        "id": "c18c36d2.ce5ad8",
        "type": "websocket out",
        "z": "2eb37991.cd6d36",
        "name": "",
        "server": "2fc29e6d.ebbea2",
        "client": "",
        "x": 862.5,
        "y": 51,
        "wires": []
    },
    {
        "id": "5c92de24.5998f",
        "type": "function",
        "z": "2eb37991.cd6d36",
        "name": "pong",
        "func": "msg.payload = '__pong__';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 689,
        "y": 51,
        "wires": [
            [
                "c18c36d2.ce5ad8"
            ]
        ]
    },
    {
        "id": "294cd88b.68d818",
        "type": "switch",
        "z": "2eb37991.cd6d36",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "__ping__",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 449.5,
        "y": 527,
        "wires": [
            [
                "6e4b1aeb.5cede4"
            ],
            [
                "7dbb0bba.151b84"
            ]
        ]
    },
    {
        "id": "dfa4f7fa.542418",
        "type": "change",
        "z": "2eb37991.cd6d36",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "_session",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 839.5,
        "y": 487,
        "wires": [
            [
                "b6ce9c01.510d6"
            ]
        ]
    },
    {
        "id": "b6ce9c01.510d6",
        "type": "websocket out",
        "z": "2eb37991.cd6d36",
        "name": "",
        "server": "9694475c.ed1588",
        "client": "",
        "x": 1105.5,
        "y": 487,
        "wires": []
    },
    {
        "id": "6e4b1aeb.5cede4",
        "type": "function",
        "z": "2eb37991.cd6d36",
        "name": "pong",
        "func": "msg.payload = '__pong__';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 606.5,
        "y": 486,
        "wires": [
            [
                "dfa4f7fa.542418"
            ]
        ]
    },
    {
        "id": "629bcb73.277b64",
        "type": "hyperledger-composer-in",
        "z": "2eb37991.cd6d36",
        "name": "receive event",
        "connectionProfile": "hlfabric",
        "businessNetworkIdentifier": "org.acme.biznet",
        "userID": "admin",
        "userSecret": "adminpw",
        "actionType": "create",
        "x": 127,
        "y": 322,
        "wires": [
            [
                "1b14d03c.abcec",
                "bb20e608.507508"
            ]
        ]
    },
    {
        "id": "1b14d03c.abcec",
        "type": "debug",
        "z": "2eb37991.cd6d36",
        "name": "event received",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 356,
        "y": 277,
        "wires": []
    },
    {
        "id": "bb20e608.507508",
        "type": "switch",
        "z": "2eb37991.cd6d36",
        "name": "",
        "property": "$class",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "org.acme.vehicle.lifecycle.manufacturer.PlaceOrderEvent",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "org.acme.vehicle.lifecycle.manufacturer.UpdateOrderStatusEvent",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 328,
        "y": 323.75,
        "wires": [
            [
                "392c1404.c2d33c",
                "126a9a2b.839226"
            ],
            [
                "7b094721.51bcd8"
            ]
        ]
    },
    {
        "id": "7b3fc12e.8a17e",
        "type": "debug",
        "z": "2eb37991.cd6d36",
        "name": "received PlaceOrder socket msg",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 411,
        "y": 130,
        "wires": []
    },
    {
        "id": "b8542de5.fb094",
        "type": "hyperledger-composer-out",
        "z": "2eb37991.cd6d36",
        "name": "submit placeorder tx",
        "connectionProfile": "hlfabric",
        "businessNetworkIdentifier": "org.acme.biznet",
        "userID": "admin",
        "userSecret": "adminpw",
        "actionType": "create",
        "x": 874,
        "y": 102,
        "wires": []
    },
    {
        "id": "cecc7dd2.a2f3c",
        "type": "hyperledger-composer-out",
        "z": "2eb37991.cd6d36",
        "name": "submit update status tx",
        "connectionProfile": "hlfabric",
        "businessNetworkIdentifier": "org.acme.biznet",
        "userID": "admin",
        "userSecret": "adminpw",
        "actionType": "create",
        "x": 910,
        "y": 280,
        "wires": []
    },
    {
        "id": "392c1404.c2d33c",
        "type": "function",
        "z": "2eb37991.cd6d36",
        "name": "parse",
        "func": "eventMsg = {};\neventMsg.payload = {};\neventMsg.payload.orderId = msg.orderId;\neventMsg.payload.vehicleDetails = msg.vehicleDetails;\neventMsg.payload.timestamp = msg.timestamp;\neventMsg.payload.transactionId = msg.eventId.substr(0, msg.eventId.indexOf('#'));\nreturn eventMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 566,
        "y": 322,
        "wires": [
            [
                "ac4d8fcd.9a156"
            ]
        ]
    },
    {
        "id": "7b094721.51bcd8",
        "type": "function",
        "z": "2eb37991.cd6d36",
        "name": "parse",
        "func": "eventMsg = {};\neventMsg.payload = {};\neventMsg.payload.order = msg.order;\neventMsg.payload.orderStatus = msg.orderStatus;\neventMsg.payload.timestamp = msg.timestamp;\neventMsg.payload.transactionId = msg.eventId.substr(0, msg.eventId.indexOf('#'));\n\nreturn eventMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 569,
        "y": 365,
        "wires": [
            [
                "ff5f5b2.46ce1a8"
            ]
        ]
    },
    {
        "id": "583e09ae.fba668",
        "type": "debug",
        "z": "2eb37991.cd6d36",
        "name": "transaction payload",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 864.5,
        "y": 147,
        "wires": []
    },
    {
        "id": "126a9a2b.839226",
        "type": "function",
        "z": "2eb37991.cd6d36",
        "name": "create new payload",
        "func": "var order = msg;\nconsole.log('What is the event payload?',order)\ndelete msg._session;\ndelete msg.headers;\ndelete msg.responseUrl;\ndelete msg.statusCode;\n\nmsg.payload = {\n    \"$class\":'org.acme.vehicle.lifecycle.manufacturer.UpdateOrderStatus',\n    \"vin\": \"\",\n    \"v5c\": \"\",\n    \"numberPlate\": \"\",\n    \"order\": order.orderId,\n    \"orderStatus\": \"PLACED\"\n};\n\nmsg.url = context.global.endpoint + '/UpdateOrderStatus'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 606.5,
        "y": 280,
        "wires": [
            [
                "cecc7dd2.a2f3c"
            ]
        ]
    },
    {
        "id": "dfa0192e.6b5258",
        "type": "debug",
        "z": "2eb37991.cd6d36",
        "name": "transaction payload",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 838.5,
        "y": 580,
        "wires": []
    },
    {
        "id": "3d397781.6f3ee8",
        "type": "hyperledger-composer-out",
        "z": "2eb37991.cd6d36",
        "name": "submit update status tx",
        "connectionProfile": "hlfabric",
        "businessNetworkIdentifier": "org.acme.biznet",
        "userID": "admin",
        "userSecret": "adminpw",
        "actionType": "create",
        "x": 854.5,
        "y": 534,
        "wires": []
    },
    {
        "id": "45d0d393.7872fc",
        "type": "function",
        "z": "2eb37991.cd6d36",
        "name": "REST API URL Configuration",
        "func": "let something;\nif(msg.payload.trim()){\n    context.global.endpoint = msg.payload.trim();\n}\nelse{\n    context.global.endpoint = \"http://localhost:4000/api\";\n}\nconsole.log('What is context.global.endpoint?',context.global.endpoint);",
        "outputs": 1,
        "noerr": 0,
        "x": 776.5,
        "y": 644,
        "wires": [
            []
        ]
    },
    {
        "id": "8131e868.6e18d8",
        "type": "exec",
        "z": "2eb37991.cd6d36",
        "command": "echo $COMPOSER_BASE_URL",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "Get REST API Environment Variable",
        "x": 443.5,
        "y": 646.5,
        "wires": [
            [
                "45d0d393.7872fc"
            ],
            [],
            []
        ]
    },
    {
        "id": "2fc29e6d.ebbea2",
        "type": "websocket-listener",
        "z": "",
        "path": "/ws/placeorder",
        "wholemsg": "false"
    },
    {
        "id": "9694475c.ed1588",
        "type": "websocket-listener",
        "z": "",
        "path": "/ws/updateorderstatus",
        "wholemsg": "false"
    }
]